<!DOCTYPE html>  
 <!-- Studens Entry Page !-->  
 <html>  
      <head>  
	  <link rel="icon" href="icon.png">
	  <meta name="viewport" content="width=device-width, initial-scale=-1">
           <title>Semester Registration</title>  
           <link href="bootstrap.min.css" rel="stylesheet">
      <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="bpl.css" rel="stylesheet">  
           <script src="angular.min.js"></script>
		   <link href="bpl.css" rel="stylesheet">  
  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <SCRIPT type="text/javascript">
if(!localStorage.getItem('email'))
 {
 window.location.href = "index.html";
 }
</SCRIPT>
  <style>
  
  input:focus:invalid { 
    border: 1x solid #dd272d;
}

.alert {
	position:absolute;
    z-index:1;
}

@media (max-width: 978px) {
    .container {
      padding:0;
      margin:0;
    }}
input.ng-dirty.ng-invalid { 
    border: 2px solid #dd272d;
}
   
  body {
  /* Location of the image */
  background-image: url(bluebg.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}
	</style>
      </head>  
      <body ng-app="myapp" ng-controller="usercontroller">
	  <!-- fixed navigation bar -->
    <nav class="navbar navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Attendance System</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="staff.html">Home</a></li>
        <li class="dropdown"  >
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="registration.html">Student Registration</a></li>
		  <li ><a href="stud_update.html">Student Updation</a></li>
		  <li><a href="promote.html">Student Promotion</a></li>
		  <li ><a href="stud_details.html">Student Details</a></li>
        </ul>
      </li>
	  <li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Staff
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="staff_entry.html">Staff Registration</a></li>
		  <li><a href="Staff_update.html">Staff Updation</a></li>
		  <li><a href="staff_details.html">Staff Details</a></li>
        </ul>
      </li>
	  <li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Subject
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a href="subject_entry.html">Subject Registration</a></li>
		<li><a href="subject_update.html">Subject Updation</a></li>
		  <li><a href="subject_assign.html">Subject Assignment</a></li>
		  <li><a href="subject_details.html">Subject Details</a></li>
        </ul>
      </li>
	  <li class="active" class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Semester
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li class="active"><a href="#">Semester Registration</a></li>
		<li><a href="sem_update.html">Semester Updation</a></li>
		  <li><a href="sem_details.html">Semester Details</a></li>
        </ul>
      </li>
		
		
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" style="color:red" href="#">{{type}}: {{email}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
</nav> <!-- /.navbar -->
<br><br><br>
             
           <div class="container">
			<div class="row">
		   <div class="col-sm-6">
		   <div class="panel panel-info" >
                  <div class="panel-heading">
                      <div class="panel-title"><label>Enter Semester's details here</label></div>

                  </div>

                  <div style="padding-top:30px;background:#f7f7f9;" class="panel-body" >
					<form ng-app="myapp"   ng-submit="insertData()" name="stud_form" ng-controller="usercontroller">  
					<div class="row">
					<div class="form-group col-sm-12">
					<label>Academic Year</label>
                     <select name="year" ng-change="maxmin()" ng-change="takee=false" ng-model="year" class="form-control" required>
					 <option value="2017-2018">2017-2018</option>
					 <option value="2018-2019">2018-2019</option>
					 <option value="2019-2020">2019-2020</option>
					 <option value="2019-2020">2020-2021</option>
					 <option value="2019-2020">2021-2022</option>
					 </select>
					 <label>Semester</label>  
                     <select name="term" ng-change="takee=false" ng-model="term" class="form-control" required>
					 <option value="odd">ODD TERM</option>
					 <option value="even">EVEN TERM</option>
					 </select>
					 <label>Start Date</label>  
						<input type="date" ng-change="takee=false" min="{{min}}" max="{{max}}" name="date" ng-model="startdat"  class="form-control" required>
						<label>End Date</label> 
						<input type="date" ng-change="takee=false" min="{{min}}" max="{{max}}" name="date" ng-model="enddat"  class="form-control" required>
                       <br /><div class="col-sm-12 controls">
                                  <button type="submit" ng-disabled="stud_form.$invalid" class="btn btn-primary pull-left"><i class="glyphicon glyphicon-log-in"></i> ADD SEMESTER</button>
                              </div><br /><br>   </div></div>
							  
          
		  
		  

<div class="container-fluid">
    <div class="row">

        <div id="success-alert" class="col-md-10 col-md-offset-1">
            <div class="alert alert-info alert-dismissible fade in text-center" ng-show="showmsg" role="alert">
                <strong>{{showmsg}}</strong> 
            </div>
        </div>

  </div>
</div>
		  
		  
		  
                </form>   
                      
                  </div>
					  </div>
       
		   </div>  
		    <div class="col-sm-6">
		
				  </div> </div></div>
      </body>  
 </html>
 <script>
 
 /*$(".alert-dismissible").fadeTo(2000, 500).slideUp(500, function(){
    $(".alert-dismissible").alert('close');
});*/
 

 var app = angular.module("myapp",[]);  
 app.controller("usercontroller", function($scope, $http){  
 $scope.pqr=false;
 $scope.maxmin=function()
 {
	$scope.max=$scope.year.substr(5,4)+'-04-30';
	$scope.min=$scope.year.substr(0,4)+'-06-01';
	
	//alert($scope.min);
 }
	  $scope.delsub = function(){
			$scope.flag=5;
           $http.post("http://192.168.1.2/www11/subject_entry.php",  {'sub_code':$scope.sub_code1,'shift':$scope.shift1,'branch':$scope.branch1,'flag':$scope.flag}
           ).success(function(data){  
				//$scope.showmsg=
				alert(data); 
           });
      }
      $scope.insertData = function(){
			$scope.flag=0;
           $http.post("http://192.168.1.2/www11/sem_entry.php",  {'flag':$scope.flag,'year':$scope.year,'term':$scope.term,'startdate':$scope.startdat,'enddate':$scope.enddat}  
           ).success(function(data){  
				$scope.showmsg=data; 
           });  
      }
	 $scope.email=localStorage.getItem('email'); 
	  $scope.type=localStorage.getItem('type');
	  
	  $scope.logout = function(){
		//localStorage.removeItem("key");
	$scope.email=localStorage.removeItem('email'); 
	  $scope.type=localStorage.removeItem('type');
		window.location.href = "index.html";
		}
	  
 });  
 </script>