<!DOCTYPE html>  
 <!-- Studens Entry Page !-->  
 <html>  
      <head>  
	  <link rel="icon" href="icon.png">
	  <meta name="viewport" content="width=device-width, initial-scale=-1">
           <title>Subject Details</title>  
           <link href="bootstrap.min.css" rel="stylesheet">
      <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="bpl.css" rel="stylesheet">  
           <script src="angular.min.js"></script>
		   <link href="bpl.css" rel="stylesheet">  
  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <SCRIPT type="text/javascript">
if(!localStorage.getItem('email'))
 {
 window.location.href = "../index.html";
 }
 if(localStorage.getItem('type') == 'HOD')
			 {
			 window.location.href = "../hod/staff.html";
			 }
			 else if(localStorage.getItem('type') == 'STAFF')
			 {
			 window.location.href = "../staff/staff.html";
			 }
</SCRIPT>
  <style>
  .scrollme{
	overflow-y:auto;
}
	body {
  /* Location of the image */
  background-image: url(bluebg.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}
  input:focus:invalid { 
    border: 1x solid #dd272d;
}

.alert {
	position:absolute;
    z-index:1;
}

@media (max-width: 978px) {
    .container {
      padding:0;
      margin:0;
    }}
input.ng-dirty.ng-invalid { 
    border: 2px solid #dd272d;
}
   
	}</style>
      </head>  
      <body ng-app="myapp" ng-controller="usercontroller" ng-init="FetchStaff()">  
	  <!-- fixed navigation bar -->
    <nav class="navbar navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Attendance System</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="staff.html">Home</a></li>
        <li class="dropdown"  >
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="registration.html">Student Registration</a></li>
		  <li ><a href="stud_update.html">Student Updation</a></li>
		  <li><a href="promote.html">Student Promotion</a></li>
		  <li ><a href="stud_details.html">Student Details</a></li>
        </ul>
      </li>
	  <li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Staff
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="staff_entry.html">Staff Registration</a></li>
		  <li><a href="Staff_update.html">Staff Updation</a></li>
		  <li><a href="staff_details.html">Staff Details</a></li>
        </ul>
      </li>
	  <li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Subject
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a href="subject_entry.html">Subject Registration</a></li>
		<li><a href="subject_update.html">Subject Updation</a></li>
		  <li><a href="subject_assign.html">Subject Assignment</a></li>
		  <li><a href="subject_details.html">Subject Details</a></li>
        </ul>
      </li>
	  <li class="active" class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Semester
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a href="sem_entry.html">Semester Registration</a></li>
		<li><a href="sem_update.html">Semester Updation</a></li>
		  <li class="active"><a href="#">Semester Details</a></li>
        </ul>
      </li>
		
		
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" style="color:red" href="#">{{type}}: {{email}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </li>
      </ul>
    </div>
  </div>
</nav> <!-- /.navbar -->
<br><br><br>
             
           <div class="container" ng-click="closen()">  
		   <div class="col-sm-6">
		   <div class="panel panel-info" >
                  <div class="panel-heading">
                      <div class="panel-title"><label>Semester Details</label></div>
					
                  </div>

                  <div style="padding-top:10px;background:#f7f7f9;" class="panel-body" >
				   <div class="scrollme">
					  <table  class="table table-striped " >
					  
					  <tr >
					  <td align="center"><label>Academic Year</label></td>
					  <td align="center"><label>Semester</label></td>
					  <td ><label>Semester Start Date</label></td>
					  <td ><label>Semester End Date</label></td>
					  </tr>
					  <tr ng-repeat="staffs in staff">
					  <td align="center">{{ staffs.year}}</td>
					  <td align="center">{{ staffs.term}}</td>
					  <td align="center">{{ staffs.start_date}}</td>  
					  <td align="center">{{ staffs.end_date}}</td>  
					  

					  
							</tr>
							</table></div>
                  </div>
					  </div>
        <div class="col-xs-12 col-sm-9">
		
                  
           </div>  
		   </div>  
      </body>  
 </html>
 <script>  
 

 var app = angular.module("myapp",[]);  
 app.controller("usercontroller", function($scope, $http){
 $scope.staff_id=localStorage.getItem('staff_id');
      $scope.FetchStaff = function(){ 
			$scope.flag=1;  
           $http.post("http://192.168.1.2/www11/sem_entry.php",{'flag':$scope.flag}  
           ).success(function(data){   
                $scope.staff=data;
				//alert(data);
           });  
      }
	  
	  $scope.email=localStorage.getItem('email');
  $scope.type=localStorage.getItem('type');
  $scope.staff_id=localStorage.getItem('staff_id');
	  
	  $scope.closen =function (){
		$(".navbar-collapse").collapse('hide');	  
		}
		
	  $scope.logout = function(){
		//localStorage.removeItem("key");
		localStorage.removeItem('email');
		localStorage.removeItem('type');
		localStorage.removeItem('staff_id');
		window.location.href = "index.html";
		}
		
		
 });  
 </script>